/* section one  to do = fix margins*/
.secone {
    background-color: #ffc8dd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    font-size: 20px;
    color: #f9faf8;
    padding: 5px;
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.titleandimage {
    display: flex;
    flex-direction: row;
    margin: 200px;
    justify-content: space-between;
    align-items: center;
}

button {
    width: 100px;
    background-color: #a2d2ff;
    color: #f9faf8;
    font-weight: bolder;
    border-radius: 8px;
    border: #a2d2ff;
    padding: 8px;
}

.title {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    font-size: 20px;
    width: 400px;
    height: 200px;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bold;
}



/* section two */
.sectwo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    font-size: 34px;
    font-weight: bold;
    color: #a2d2ff;
}

.plantpics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.plant {
    width: 140px;
    margin: 60px;
    border: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    gap: 15px;
}

/* section three */

/* section four */

/* footer */
.footer {
    background-color: #ffc8dd;
}